<%# views/author_detail %>

<% extend('layout', {'title': title}) %>

<h1>Author: <%= author.name %></h1>
<p><%= author.formatted_dob %> - <%= author.formatted_dod %></p>
<div style="margin-left:20px;margin-top:20px;">
    <h4>Books</h4>
    <dl>
        <% if(author_books.length > 0){ %>
            <% author_books.forEach(function(book){ %>
                <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
                <dd><%= book.summary %></dd>
            <% }); %>
        <% }else{ %>
            <p>This author has no books.</p>
        <% } %>
    </dl>
</div>
<hr>
<p>
    <a href="<%=author.url+'/delete'%>">Delete Author</a>
</p>